@use "@angular/material" as mat;

// for bug: https://github.com/angular/components/issues/26094
.mat-mdc-card.mat-elevation-z8 {
  @include mat.elevation(8);
}

:host {
  display: block;
  margin: auto;
  max-width: 50rem !important;
}

.todo-list-footer {
  padding: 0 1rem;
}

.todo-list-form {
  width: 100%;
}
