<mat-card>
  <mat-card-header class="mat-title-large">
    <h1>To Do List</h1>
  </mat-card-header>

  <mat-card-content>
    @if (!!vm.todos().length) {
    <ng-container *ngTemplateOutlet="todolist" />
    } @else {
    <ng-container *ngTemplateOutlet="notodos" />
    }
  </mat-card-content>

  <mat-card-footer class="todo-list-footer">
    <form (submit)="vm.api.addTodo(newTodo.value); newTodo.value = ''">
      <mat-form-field class="todo-list-form">
        <mat-label>Add Todo</mat-label>
        <input #newTodo matInput />
        <mat-icon matSuffix>add</mat-icon>
        <mat-hint>Enter a todo and hit return!</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-footer>
</mat-card>

<ng-template #todolist>
  <mat-list>
    @for (todo of vm.todos(); track todo; let isLast = $last) {
    <mat-list-item>
      <span matListItemLine>
        <mat-checkbox
          [(ngModel)]="todo.completed"
          (change)="vm.api.updateTodo(todo)"
        >
          {{ todo.text }}
        </mat-checkbox>
      </span>
      <span matListItemMeta>
        <button
          mat-icon-button
          color="warn"
          [attr.aria-label]="'Delete ' + todo.text"
          (click)="vm.api.deleteTodo(todo.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </mat-list-item>

    @if (!$last) {
    <mat-divider></mat-divider>
    } }
  </mat-list>
</ng-template>

<ng-template #notodos>
  <h2 class="mat-display-small">
    Congrats! You have nothing to do :)
  </h2>
</ng-template>
